.text-field {
    -fx-prompt-text-fill: white;
    -fx-font-weight: bold;
}

.button-save {
    -fx-background-color: #ffffff;
    -fx-border-color: #0d9035;
    -fx-text-fill: #0d9035;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.button-save:hover {
    -fx-background-color: #0d9035;
    -fx-border-color: #0d9035;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

.button-clear {
    -fx-background-color: #ffffff;
    -fx-border-color: #f11616;
    -fx-text-fill: #f11616;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.button-clear:hover {
    -fx-background-color: #f11616;
    -fx-border-color: #f11616;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

.button-search {
    -fx-background-color: #ffffff;
    -fx-border-color: #538eff;
    -fx-text-fill: #538eff;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.button-search:hover {
    -fx-background-color: #538eff;
    -fx-border-color: #538eff;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
}

#text {
    -fx-background-color: transparent;
    -fx-border-color: #D8251C;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-font-weight: bold;
    -fx-prompt-text-fill: #D8251C;
}

.login_button {
    -fx-background-color: #D8251C;
    /*-fx-background-image: linear-gradient(to bottom right, #2bcbba, #3fff00);*/
    -fx-border-radius: 50px;
    -fx-border-color: #D8251C;
    -fx-background-radius: 50px;
    -fx-font-size: 16px;
    -fx-pref-height: 45px;
    -fx-font-weight: bold;
}

.login_button:hover {
    -fx-background-color: #be0a01;
}

#admin-image-label {
    -fx-background-color: #009675;
    -fx-background-radius: 200px;
}


.start_survey {
    -fx-background-color: #0098bd;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-font-size: 16px;
    -fx-pref-height: 45px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.start_survey:hover {
    -fx-background-color: #0081a2;
    -fx-text-fill: white;
}

#side-vbox {
    -fx-background-color: #448089;
}

#side-menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: Calibri;
    -fx-graphic-text-gap: 30px;
}

#side-menu-button:hover {
    -fx-background-color: rgba(136, 136, 136, 0.5);
    -fx-text-fill: #ffb326;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: Calibri;
    -fx-cursor: hand;
    -fx-border-width: 2px;
}
